@font-face {
   font-family: 'vtks-hyperboldi.regular';
   font-display: swap;
   src: url('file:///C:/Users/mails/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-08-30_232156/fonts/vtks-hyperboldi.regular/font.ttf');
}
